{% block body %}

{# PAGE USER_SHOW --PROFILE #}


    <h1 class="text-center">Profile</h1>
    <div class='container'>
        <div class='row'>
        <table class="table">
        <tbody>
{#             <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr> #}
{#             <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr> #}
{#             <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr> #}
{#             <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> #}
            <tr>
                <th>FirstName</th>
                <td {# onclick="findForm()" #}>{{ user.firstName }}</td>
            </tr>
{#             <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr> #}
            <tr>
                <th>Country</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ user.language }} {{ user.language2 }} {{ user.language3 }} </td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="/data/{{user.Picture}}" ></img></td>
            </tr>
            <tr>
                <th>Biography</th>
                <td>{{ user.Biography }}</td>
            </tr>
            <tr>
                <th>IsExpat</th>
                <td>{{ user.isExpat ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Mes communautés</th>
                <td>
                    {# Boucle pour faire la affichage des groups #}
                {% for groupe in user.groupe %}
                    <div>{{ groupe.image }}</div>
                    <div>{{ groupe.name }}</div>
                    <div>{{ groupe.description }}</div><br>
                {% endfor %}
            </td>
            </tr>
            <tr>
                <th>Mes Avis</th>
                <td>
                    {# Boucle pour faire la affichage des avis #}
                {% for review in user.reviewReceived %}
                    <div><strong>{{ review.senderId.firstName }}</strong></div><br>
                     <div>{{review.dateAt ? review.dateAt|date('Y-m-d H:i:s') : '' }}</div> 
                    <div><img src="/data/{{ review.senderId.Picture }}"></img></div><br>
                    <div><strong>{{ review.comment }}</strong></div><br>
                {% endfor %}
                </td>
            </tr>

            <tr>
            <th>Mes Publications</th>
                <td>
                    {# Boucle pour faire la affichage des Publication #}
                {% for publication in user.publication %}
                    <div>{{ user.firstName }}</div><br>
                    <div>{{ publication.dateAt ? publication.dateAt|date('Y-m-d H:i:s') : '' }}</div> 
                    <img src="/data/{{user.Picture}}" ></img><br>
                    <div>{{ publication.post}}</div><br>
                    
                {% endfor %}
                </td>
            </tr>

            <tr>
            <th>Mes centres d'intérêts</th>
                <td>
                    {# Boucle pour faire la affichage les centres d'interes #}
                {% for activity in user.activitieUsers %}
                    {%  if activity.isActivitie %}        
                    <div>{{ activity.activitie.name }}</div><br>
                    {# <img>{{ activity.activitie.image }}</img><br> #}
                    {% endif %}
                {% endfor %}
            <button onclick="lunchModal()">Edit</button>
                </td>
            </tr>

             <tr>
            <th>Les activités que j'aimerai faire</th>
                <td>
                    {# Boucle pour faire la affichage les centres d'interes #}
                {% for activity in user.activitieUsers %}
                   {%  if activity.isActivitie == false %}  
                    <div>{{ activity.activitie.name }}</div><br>
                    {# <img>{{ activity.activitie.image }}</img><br> #}
                    {% endif %}  
                {% endfor %}
            <button onclick="lunchModalFalse()">Edit</button>
                </td>
            </tr>
             <tr>
{#              <tr>
                <th>Created_at</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>  #}
        </tbody>
    </table>

    {# Remove button back to list #}
    {# <a href="{{ path('app_user_index') }}">back to list</a> #}

    <!-- Modal saveActivity -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="contentModal">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button"  class="btn btn-primary" onclick="saveActivity()" data-dismiss="modal">Save changes</button>
    
    </div>
  </div>
</div>
</div>
  <!-- Modal saveInterets -->
<div class="modal fade" id="exampleModalFalse" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" id="contentModalFalse">
      ...
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      <button type="button"  class="btn btn-primary" onclick="saveInterets()" data-dismiss="modal">Save changes</button>
    
    </div>
  </div>
</div>
</div>

        
        </div>
    </div>

<button><a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a></button>

    {{ include('user/_delete_form.html.twig') }}
    
{% endblock %}

{# Javascript para abrir funcção modal com jQuery #}
{% block javascripts %}
<script>
    function lunchModal(){
        jQuery('#contentModal').load('/edition/activities', function(){
            jQuery('#exampleModal').modal('show');
        });
    }

     function lunchModalFalse(){
        jQuery('#contentModalFalse').load('/edition/activities', function(){
            jQuery('#exampleModalFalse').modal('show');
        });
    } 

    function saveActivity(){

        let tabId = [];

        jQuery('.checkActivity').each(function(element, i){
            if(jQuery(i).is(':checked')){
                tabId.push(jQuery(i).data('id'));
            };

        })

        fetch('/saveactivity', {
            method: 'POST',
            body: JSON.stringify({'data':tabId})
        })
        .then(function(headers){return headers.json()})
        .then(function(body){
            console.log(body);
        })

    }

    function saveInterets(){

        let tabId = [];

        jQuery('.checkActivity').each(function(element, i){
            if(jQuery(i).is(':checked')){
                tabId.push(jQuery(i).data('id'));
            };

        })

        fetch('/saveinterets', {
            method: 'POST',
            body: JSON.stringify({'data':tabId})
        })
        .then(function(headers){return headers.json()})
        .then(function(body){
        })
    }


/* script onclick ajoute sur le first name pour teste */
{#     function findForm(){
        tabIdForm = [];

        fetch('/finduserform', {
            method: 'GET',
            body: JSON.stringify({'data':tabIdForm})
        })
        .then(function(headers){return header.json()})
        .then(function(body){
        })
        console.log(body)
    } #}
</script>





{# *********************** PAGE LOGIN *********************** #}



<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
        {# Button pour y alle vers la page Register #}
    <button><a href="{{path('app_register')}}">Crée un compte</a></button>
</form>




{# ****************************** PAGE DETAILS******************************************** #}



   <h1 class="text-center">Profile</h1>
    <div class='container'>
        <div class='row'>
        <table class="table">
        <tbody>
{#             <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr> #}
{#             <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr> #}
{#             <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr> #}
{#             <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr> #}
            <tr>
                <th>FirstName</th>
                <td>{{ user.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ user.lastName }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ user.language }} {{ user.language2 }} {{ user.language3 }} </td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="/data/{{user.Picture}}" ></img></td>
            </tr>
            <tr>
                    <th>Biography</th>
                    <td>{{ user.Biography }}</td>
            </tr>
           {#  <tr>
                <th>IsExpat</th>
                <td>{{ user.isExpat ? 'Yes' : 'No' }}</td>
            </tr> #}
            {# <tr>
                <th>Mes communautés</th>
                <td> #}
                    {# Boucle pour faire la affichage des groups #}
                {# {% for groupe in user.groupe %}
                    <div>{{ groupe.image }}</div>
                    <div>{{ groupe.name }}</div>
                    <div>{{ groupe.description }}</div><br>
                {% endfor %}
            </td>
            </tr> #}
            <tr>
                <th>Mes Avis</th>
                <td>
                    {# Boucle pour faire la affichage des avis #}
                {% for review in user.reviewReceived %}
                    <div><strong>{{ review.senderId.firstName }}</strong></div><br>
                     <div>{{review.dateAt ? review.dateAt|date('Y-m-d H:i:s') : '' }}</div> 
                    <div><img src="/data/{{ review.senderId.Picture }}"></img></div><br>
                    <div><strong>{{ review.comment }}</strong></div><br>
                {% endfor %}
                </td>
            </tr>

            {# <tr>
            <th>Mes Publications</th>
                <td> #}
                    {# Boucle pour faire la affichage des Publication #}
                {# {% for publication in user.publication %} #}
                    {# <div>{{ user.firstName }}</div><br>
                    <div>{{ publication.dateAt ? publication.dateAt|date('Y-m-d H:i:s') : '' }}</div> 
                    <img src="/data/{{user.Picture}}" ></img><br>
                    <div>{{ publication.post}}</div><br>
                    
                {% endfor %}
                </td>
            </tr> #}

            <tr>
            <th>Mes centres d'intérêts</th>
                <td>
                    {# Boucle pour faire la affichage les centres d'interes #}
                {% for activity in user.activitieUsers %}
                    {%  if activity.isActivitie %}        
                    <div>{{ activity.activitie.name }}</div><br>
                    {# <img>{{ activity.activitie.image }}</img><br> #}
                    {% endif %}
                {% endfor %}
                </td>
            </tr>

             <tr>
            <th>Les activités que j'aimerai faire</th>
                <td>
                    {# Boucle pour faire la affichage les centres d'interes #}
                {% for activity in user.activitieUsers %}
                   {%  if activity.isActivitie == false %}  
                    <div>{{ activity.activitie.name }}</div><br>
                    {# <img>{{ activity.activitie.image }}</img><br> #}
                    {% endif %}  
                {% endfor %}
                </td>
            </tr>
             <tr>
{#              <tr>
                <th>Created_at</th>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>  #}
        </tbody>
    </table>

    {% if showButtonFriend %}
        <a href="{{path('app_add_friends', {'id':user.id})}}"><button type="button" id="add_friend">Ajouter ami(e)</button></a>
        {% else %}
        <a href="{{path('app_remove_friends', {'id':user.id})}}"><button type="button">Retirer ami(e)</button></a>
    {% endif %}
    {# Remove button back to list #}
    {# <a href="{{ path('app_user_index') }}">back to list</a> #}

    

{# ****************************PAGE FORMULAIRE ******************** #}

{# step 1 REGISTER #}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
      

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

    {{ form_start(registrationForm) }}
        <section class="container-fluid">
            <div id="centrage-ecran" class="d-flex flex-column justify-content-center">
                <h2 class="text-center ">Bienvenue!</h2>
                <h3 class="text-center">Veuillez renseigner votre adresse mail.</h3>
                <div class="d-flex justify-content-center mt-5">
                    <div class="d-flex flex-column align-items-end col-4">
                        <div class="card-formulaire align-self-center w-100 px-3">
                           {#  <p class="text-white mx-3 mt-3">Email</p> #}
{#                             <input type="email" class="border-0 px-3 py-3 w-80 text-muted"
                                placeholder="ex: jules.dupont@gmail.com"> #}
                                <div class="border-0 px-3 py-3 w-80 text-white">{{ form_row(registrationForm.email) }}</div>
                            <div class="form-check text-white m-3">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" required>
                                <label class="form-check-label" for="defaultCheck1" required>
                                    Accepter conditions générales.
                                </label>
                            </div>
                        </div>
                       {#  <button class="my-4 text-black" id="btn" type="button">Suivant</button> #}
                        <button type="submit" class="my-4 text-black" id="btn">Suivant</button>
                    </div>
                </div>
            </div>
        </section>
    {{ form_end(registrationForm) }}


{#   {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.agreeTerms) }} #}

        {# ************* step 2 PASSWORLD ********** #}



        {% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Password'
    }) }}
      

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}


	<main>
		<section class="container-fluid">
			<div id="centrage-ecran" class="d-flex flex-column justify-content-center">
				<h3 class="text-center mt-3">Veuillez créer un mot de passe.</h3>
				<div class="d-flex justify-content-center mt-5">
					<div class="d-flex flex-column align-items-end col-4">
						<div class="card-formulaire align-self-center w-100 px-3">
{# 							<p class="text-white mx-3 mt-5">Mot de passe</p> #}
							<div class="text-white mx-3 mt-5 border-0 px-3 py-3 mb-5 w-80">
								{{ form_start(registrationForm) }}
								{{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'})}}</div>
{# 							<input type="password" class="border-0 px-3 py-3 mb-5 w-80 mbtext-muted" placeholder="8 caractères minimum"> #}
						</div>
						<div class="d-flex justify-content-end">
							<button class="my-4 mx-3 text-black" id="btn" type="button">Retour</button>
						{# 	<button class="my-4 ms-2 text-black" id="btn" type="button">Suivant</button> #}
                                    <button type="submit" class="my-4 ms-2 text-black" id="btn">Register</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{{ form_end(registrationForm) }}

        {# ************* step 3 firstName ********** #}


            <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstName) }}
      

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

        {{ form_start(registrationForm) }}
<!-- DEBUT NAV --> 
<nav class="navbar navbar-expand-lg">
        
    <div class="container-fluid">
  
      <a class="navbar-brand" href="../public/index.html"> <img src="img/logo-buddies_1.svg" alt=""> </a>
  
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    </div>
  </nav>
  <!-- FIN NAV -->
    <main>
        <section class="container-fluid">
            <div id="centrage-ecran" class="d-flex flex-column justify-content-center">
                <h3 class="text-center mt-5">Renseignez votre prénom ou un pseudo. </h3>
                <div class="d-flex justify-content-center mt-5">
                    <div class="d-flex flex-column align-items-end col-4">
                        <div class="card-formulaire align-self-center w-100 px-3">
{#                             <input type="name" class="border-0 px-3 py-3 my-5 w-80 mbtext-muted"
                                placeholder="Prénom ou pseudo"> #}
                                <div class="border-0 px-3 py-3 my-5 w-80 text-white">
                                    {{ form_row(registrationForm.firstName, { label: 'Prénom ou pseudo'}) }}
                                </div>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="my-4 mx-3 text-black" id="btn" type="button">Retour</button>
{#                             <button class="my-4 ms-2 text-black" id="btn" type="button">Suivant</button> #}
                            <button type="submit" class="my-4 ms-2 text-black" id="btn">Register</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {{ form_end(registrationForm) }}


            {# ************* step 4  BirthDate ********** #}

            {% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.birthDate) }}
      

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

	{{ form_start(registrationForm) }}
	<!-- DEBUT NAV -->
	<nav class="navbar navbar-expand-lg">

		<div class="container-fluid">

			<a class="navbar-brand" href="../public/index.html">
				<img src="img/logo-buddies_1.svg" alt="">
			</a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</div>
	</nav>
	<!-- FIN NAV -->
	<main>
		<section class="container-fluid">
			<div id="centrage-ecran" class="d-flex flex-column justify-content-center">
				<h3 class="text-center mt-5">Votre date de naissance</h3>
				<div class="d-flex justify-content-center mt-5">
					<div class="d-flex flex-column align-items-end col-4">
						<div
							class="card-formulaire d-flex align-items-center w-100 px-3">
							{#                                     <form action="/action_page.php" class="d-flex flex-column justify-content-center align-items-end w-100">
							                                        <label for="birthday"></label>
							                                        <input class="p-3" type="date" id="birthday" name="birthday">
							                                        <input class="text-black mt-3" id="btn" type="submit">
							                                    </form>    #}
								<div class="p-3">
									{{ form_row(registrationForm.birthDate, { 'label': ' '}) }}
							</div>
						</div>
						<div class="d-flex justify-content-end">
							<button class="my-4 mx-3 text-black" id="btn" type="button">Retour</button>
							{# <button class="my-4 ms-2 text-black" id="btn" type="button">Suivant</button> #}
                            <button type="submit" id="btn" class="my-4 ms-2 text-black" >Register</button>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	{{ form_end(registrationForm) }}


            {# ************* step 5 GENRE ********** #}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}

    {% set i = 0 %}

        {% for test in registrationForm.genre %}
        {% if i < 3 %}
            <div class="show">
        {% else %}
            <div class="hide">
        {% endif %}
        {{ form_label(test) }}
        {{ form_widget(test) }}
        </div>
        {% set i = i + 1 %}
    {% endfor %}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

    <main>
        <section class="container-fluid">
            <div id="centrage-ecran" class="d-flex flex-column justify-content-center">
                <div class="d-flex flex-column align-items-center mt-5">
                    <h3 class="text-black mx-3 my-3">Je suis :</h3>
                    <div class="d-flex flex-column align-items-end col-4">
                        <div class="card-formulaire align-self-center text-white w-100 py-5 px-3">
                        {{ form_start(registrationForm) }}
                        {% set i = 0 %}
                            {% for test in registrationForm.genre %}
                                {# <div class="form-check py-2"> #}
                                        {% if i < 3 %}
                                            <div class=" py-2">
                                        {% endif %} 
                                        {{ form_label(test) }}
                                        {{ form_widget(test) }}
{#                                     <label class="form-check-label py-1" for="flexRadioDefault1">
                                    Femme
                                    </label> #}
{#                                     <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"> #}
                                </div>
                                {% set i = i + 1 %}
                            {% endfor %}
{#                                 <div class="form-check py-2">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                    Homme
                                    </label>
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                </div>
                                <div class="form-check py-2">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                    Autre
                                    </label>
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                </div> #}
                        </div>
                        <div class="d-flex justify-content-end">
                            <button class="my-4 mx-3 text-black" id="btn" type="button">Retour</button>
{#                             <button class="my-4 ms-2 text-black" id="btn" type="button">Suivant</button> #}
                            <button type="submit" id="btn" class="my-4 ms-2 text-black">Register</button>
                        </div>
                        {{ form_end(registrationForm) }}
                    </div>
                </div>
            </div>
        </section>
    </main>



    {# step 6 VILLE #}

    {% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.city) }}

      
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
    {% endblock %}


    {# step 7 isExpatrie #}


    {% block body %}


    <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.isExpat) }}



            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }} 

    {% endblock %}


        {# step 8 Langue - country #}

        {% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.language) }}
    {{ form_row(registrationForm.country) }}

      
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}

        {# step 16 QUIZ INTERETS #}

        


{% if step1 %}

  <label class="text"> Quelles sont vos centres d'intérêrs </label>
  <form action="{{ path('app_quiz_2') }}">
       
{% endif %} 

{% if step2 %}

  <label class="text"> Les activités que vous aimeriez faire </label>   
  <form action="{{ path('app_register_step8') }}">
       
{% endif %} 


{% for formprops in form %}
<div class="form-check form-check-inline">
  <input class="form-check-input" type="checkbox" name="valueCheckbox[]" id="inlineCheckbox1" value="{{ formprops.id }}">
  <label class="form-check-label" for="inlineCheckbox1">{{ formprops.name }}</label>
</div>
{% endfor %}

<input type="submit"></input> 

</form>
</body>


        {# step 10 Image Profiel #}

        {% block body %}
            <h1>Register</h1>

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.Picture) }}

            
                <button type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        {% endblock %}


    {# Step 9 button #}


    {% block body %}
        <h1>Register</h1>

        {{ form_start(registrationForm) }}
    {#     {{ form_row(registrationForm.Picture) }} #}


        
            <button type="submit" class="btn">COMMENCER</button>
        {{ form_end(registrationForm) }}
    {% endblock %}

    {# Step 10 age min max #}

    {% block body %}

        <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.match_age_min) }}
        {{ form_row(registrationForm.match_age_max) }}

            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }} 

    {% endblock %}

    {# Step 11 genre #}

    {% block body %}

        <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {% set i = 0 %}

            {% for test in registrationForm.match_genre %}
            {% if i < 2 %}
                <div class="show">
            {% else %}
                <div class="hide">
            {% endif %}
            {{ form_label(test) }}
            {{ form_widget(test) }}
            </div>
            {% set i = i + 1 %}
        {% endfor %}

        
            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }} 

    {% endblock %}

    {# Step 12 Langue #}

    {% block body %}

        <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.match_langue) }}


            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }} 

    {% endblock %}


    {# Step 13 match_politique #}

    {% block body %}

        <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.match_politique) }}


            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }} 

    {% endblock %}

    {# Step 14 questionaire #}

    {% block body %}

        <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {#     {{ form_row(registrationForm.match_break_the_ice) }} #}

        {% for test in registrationForm.match_break_the_ice%}
        <div>{{form_label(test)}}</div>
        <div>{{form_widget(test)}}</div>

        {% endfor %}


            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }} 

    {% endblock %}

        {# Step 15 questionaire #}

    {% block body %}

        <h1>Register</h1>

        {{ form_start(registrationForm) }}
        {#     {{ form_row(registrationForm.match_perfect_afternoon) }} #}

        {% for test in registrationForm.match_perfect_afternoon%}
        <div>{{form_label(test)}}</div>
        <div>{{form_widget(test)}}</div>

        {% endfor %}


            <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }} 

{% endblock %}