{% extends 'base.html.twig' %}

{% block title %}Community!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/community-page.css">
{% endblock %}

{% block body %}

<!-- DEBUT CHATBOX --> 
<div id="container">
  <div class="chat">
    <div class="headerTitle">Messages</div>
    <div id="zoneTxt" class="text">
      
    </div>
        <div id="new-message" class=" row align-items-center">
          <div class="d-flex flex-row justify-content-between my-3">
            <input class="w-100 px-3 py-3" type="text" id='messenger_text' placeholder="Nouveau message...">
             <button class="d-flex align-items-center justify-content-center" id='btnSendMsg'> <img src="/img/icones/fleche.png" alt=""> </button>
          </div>
        </div>
  </div>
</div>

<!-- DEBUT NAV -->
<nav class="navbar navbar-expand-lg">
        
  <div class="container-fluid">

    <a class="navbar-brand" href="{{path('app_match')}}"> <img src="/img/logo-buddies_1.svg" alt=""> </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" aria-current="page" href="{{path('app_home')}}"><img src="/img/icones/icones-nav/commu.svg"></a>
        </li>

        <li class="nav-item">
          <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" 
          data-bs-toggle="offcanvas" href="#offcanvasAmis" role="button" aria-controls="offcanvasExample"><img src="/img/icones/icones-nav/amis.svg">
          </a>
        </li>

        <li id="notif" class="nav-item dropdown">
          <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/img/icones/icones-nav/cloche.svg">
          </a>
          <ul class="dropdown-menu">
            <li class="my-3 mx-4">
              <div class="card">
                <div class="card-body d-flex flex-row align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="p-2">
                      <img id="profil-notif" src="/img/profil/alice.jpg" alt="">
                    </div>
                    <div class="p-2">
                      <h4 class="card-text">Alice Parker</h4>
                    </div>
                    <div class="ms-auto p-2">
                      <img id="icon-notif" src="/img/icones/heart-orange.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="my-3 mx-4">
              <div class="card">
                <div class="card-body d-flex flex-row align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="p-2">
                      <img id="profil-notif" src="/img/profil/alice.jpg" alt="">
                    </div>
                    <div class="p-2">
                      <h4 class="card-text">Alice Parker</h4>
                    </div>
                    <div class="ms-auto p-2">
                      <img id="icon-notif" src="/img/icones/langue.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="my-3 mx-4">
              <div class="card">
                <div class="card-body d-flex flex-row align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="p-2">
                      <img id="profil-notif" src="/img/profil/alice.jpg" alt="">
                    </div>
                    <div class="p-2">
                      <h4 class="card-text">Alice Parker</h4>
                    </div>
                    <div class="ms-auto p-2">
                      <img id="icon-notif" src="/img/icones/icones-menu-amis/message.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <li class="nav-item dropdown">
            <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/img/icones/icones-nav/profil.svg">
            </a>
            <ul class="dropdown-menu">
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="{{path('app_user_show')}}">
                  <img class="me-2" src="/img/icones/icones-menu-profil/smile.svg" alt="">
                Mon profil
                </a>
              </li>
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="{{path('app_faq')}}">
                  <img class="me-2" src="/img/icones/icones-menu-profil/aide.svg" alt="">
                Aide
                </a>
              </li>
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="{{path('app_charte')}}">
                  <img class="me-2" src="/img/icones/icones-menu-profil/charte.svg" alt=""> 
                  Charte BUDDIES
                </a>
              </li>
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="{{path('app_mentions_legales')}}">
                  <img class="me-2" src="/img/icones/icones-menu-profil/mentions-legales.svg" alt=""> 
                  Mentions légales
                </a>
              </li>
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="{{path('app_logout')}}">
                  <img class="me-2" src="/img/icones/icones-menu-profil/deconnexion.svg" alt=""> 
                  Déconnexion
                </a>
              </li>
            
            </ul>
          
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- FIN NAV -->

    <!-- DEBUT MAIN -->
    <main class="container">
    
        <section class="d-flex flex-row">

        <!-- DEBUT LEFT SIDE -->
        <article id="left-side" class="d-flex flex-column col-4">

          <i class="sticker sticker-left sticker-film-club"></i>


          <!-- debut card profil commu -->
            <section>
                <div id="profil-commu" class="card">
                    <div class="thumbnail">
                      <img src="{{group.image}}" alt="">
                    </div>

                    <div id="commu-description" class="px-5 py-5">
                      <h1 class="card-title text-white">{{group.name}}</h1>
                      <div class="d-flex flex-row align-items-center">
                        <img class="me-3" src="/img/icones/people-white.svg" alt="">
                        <p>2564 Membres</p>
                      </div>
                    </div>

                    <div class="card-body">
                    <p class="card-text p-5">{{group.description}}</p>
                    </div>
                </div>
            </section>

            <!-- fin card profil commu -->


            <!-- debut nouveaux membres -->
            <section>
                <div>
                    <h3>Nouveaux membres</h3>
                    <div id="photo-gallery" class="d-flex flex-row flex-wrap">
                        <div> <img src="/img/profil/alice.jpg" alt=""> </div>
                        <div> <img src="/img/profil/alona.jpg" alt=""> </div>
                        <div> <img src="/img/profil/ben.jpg" alt=""> </div>
                        <div> <img src="/img/profil/chris.jpg" alt=""> </div>
                        <div> <img src="/img/profil/indra.jpg" alt=""> </div>
                        <div> <img src="/img/profil/jiawen.jpg" alt=""> </div>
                        <div> <img src="/img/profil/ken.jpg" alt=""> </div>
                        <div> <img src="/img/profil/luc.jpg" alt=""> </div>
                        <div> <img src="/img/profil/jimmy.jpg" alt=""> </div>
                        <div> <img src="/img/profil/camille.jpg" alt=""> </div>
                    </div>
                    <button> Voir plus</button>
                </div>
            </section>

            <!-- fin nouveaux membres -->

        </article>
        <!-- FIN LEFT SIDE -->


        <!-- DEBUT RIGHT SIDE -->
        <article id="right-side" class="d-flex flex-column col-7 offset-1">

          <!-- DEBUT CARD NEW POST -->
            <section id="new-post">
                <div class="card d-flex flex-row align-items-center px-5 py-4">
                    <img src="/data/{{app.user.Picture}}" alt="">
                    <input type="text" placeholder="Écrire un nouveau post...">
                </div>
          <!-- FIN CARD NEW POST -->

            </section>

            <section id="pop-posts">

                <h2>Publications populaires</h2>

                <!-- DEBUT CARDS POSTS -->
                <div id="card-post" class="card px-5 pt-5 pb-3">
                  <div class="d-flex flex-row align-items-center">
            
                      <img src="/data/{{app.user.Picture}}" class="card-img" alt="...">
                      
                      <div class="d-flex flex-column ms-3">
                          <h4 class="card-title">{{app.user.firstName}}</h4>
                          <p class="card-text"><small class="text-muted">Il y a 39 minutes</small></p>
                      </div>
                  </div>
                  <div class="card-content my-4">

                    <div id="photo-content">
                      <img src="{{publication.image}}" alt="">
                    </div>

                      <p class="card-text my-4">{{publication.post}}</p>

                      <div id="interactions" class="d-flex justify-content-end align-items-center">

                        <p class="me-4">21 Commentaire</p>

                          <div class="d-flex align-items-center">
                            <p class="me-2">135</p>
                            <img class="card-icon" src="/img/icones/small-heart-black.png" alt="coeur-plein">
                          </div>

                      </div>

                      <hr>

                      <div class="d-flex row">
                        <div class="d-flex align-items-center mb-4">
                          <div class="d-flex align-items-center">
                            <img class="card-icon" src="/img/icones/langue.svg" alt="icon-commentaire">
                            <p class="me-4 ms-2">Commenter</p>
                          </div>
                          <div class="d-flex align-items-center">
                            <img class="card-icon" src="/img/icones/small-thumbsup.svg" alt="icon-like">
                            <p class="me-4 ms-2">Like</p>
                          </div>
                        </div>

                        <input type="text" class="border-0 mb-7 py-3 px-3 rounded-pill" placeholder="Écrire un commentaire...">
                        
                      </div>
                  </div>
              </div>

              <!-- -->

              <div id="card-post" class="card px-5 pt-5 pb-3">
                <div class="d-flex flex-row align-items-center">
          
                    <img src="/img/profil/sam.jpg" class="card-img" alt="...">
                    
                    <div class="d-flex flex-column ms-3">
                        <h4 class="card-title">Sam Anderson</h4>
                        <p class="card-text"><small class="text-muted">Il y a 39 minutes</small></p>
                    </div>
                </div>
                <div class="card-content my-4">

                    <p class="card-text my-4">“To be human is to tinker, to envision a better condition, and decide to work toward it by shaping the world around us.” ― Frank Chimero</p>

                    <div id="interactions" class="d-flex justify-content-end align-items-center">

                      <p class="me-4">21 Commentaire</p>

                        <div class="d-flex align-items-center">
                          <p class="me-2">135</p>
                          <img class="card-icon" src="/img/icones/small-heart-black.png" alt="coeur-plein">
                        </div>

                    </div>

                    <hr>

                    <div class="d-flex row">
                      <div class="d-flex align-items-center mb-4">
                        <div class="d-flex align-items-center">
                          <img class="card-icon" src="/img/icones/langue.svg" alt="icon-commentaire">
                          <p class="me-4 ms-2">Commenter</p>
                        </div>
                        <div class="d-flex align-items-center">
                          <img class="card-icon" src="/img/icones/small-thumbsup.svg" alt="icon-like">
                          <p class="me-4 ms-2">Like</p>
                        </div>
                      </div>

                      <input type="text" class="border-0 mb-7 py-3 px-3 rounded-pill" placeholder="Écrire un commentaire...">
                      
                    </div>
                </div>
            </div>

            <!-- -->

            <div id="card-post" class="card px-5 pt-5 pb-3">
              <div class="d-flex flex-row align-items-center">
        
                  <img src="/img/profil/sam.jpg" class="card-img" alt="...">
                  
                  <div class="d-flex flex-column ms-3">
                      <h4 class="card-title">Sam Anderson</h4>
                      <p class="card-text"><small class="text-muted">Il y a 39 minutes</small></p>
                  </div>
              </div>
              <div class="card-content my-4">

                <div id="photo-content">
                  <img src="/img/publication/picnic.jpg" alt="">
                </div>

                  <p class="card-text my-4">“To be human is to tinker, to envision a better condition, and decide to work toward it by shaping the world around us.” ― Frank Chimero</p>

                  <div id="interactions" class="d-flex justify-content-end align-items-center">

                    <p class="me-4">21 Commentaire</p>

                      <div class="d-flex align-items-center">
                        <p class="me-2">135</p>
                        <img class="card-icon" src="/img/icones/small-heart-black.png" alt="coeur-plein">
                      </div>

                  </div>

                  <hr>

                  <div class="d-flex row">
                    <div class="d-flex align-items-center mb-4">
                      <div class="d-flex align-items-center">
                        <img class="card-icon" src="/img/icones/langue.svg" alt="icon-commentaire">
                        <p class="me-4 ms-2">Commenter</p>
                      </div>
                      <div class="d-flex align-items-center">
                        <img class="card-icon" src="/img/icones/small-thumbsup.svg" alt="icon-like">
                        <p class="me-4 ms-2">Like</p>
                      </div>
                    </div>

                    <input type="text" class="border-0 mb-7 py-3 px-3 rounded-pill" placeholder="Écrire un commentaire...">
                    
                  </div>
              </div>
          </div>
          <!-- FIN CARDS POSTS -->
                <button> Voir plus</button>
            </section>

            <section id="recent-posts">

                <h2>Publications récentes</h2>

            <!-- DEBUT CARDS POSTS -->    

                   <div id="card-post" class="card px-5 pt-5 pb-3">
                  <div class="d-flex flex-row align-items-center">
            
                      <img src="/img/profil/sam.jpg" class="card-img" alt="...">
                      
                      <div class="d-flex flex-column ms-3">
                          <h4 class="card-title">Sam Anderson</h4>
                          <p class="card-text"><small class="text-muted">Il y a 39 minutes</small></p>
                      </div>
                  </div>
                  <div class="card-content my-4">

                    <div id="photo-content">
                      <img src="/img/publication/picnic.jpg" alt="">
                    </div>

                      <p class="card-text my-4">“To be human is to tinker, to envision a better condition, and decide to work toward it by shaping the world around us.” ― Frank Chimero</p>

                      <div id="interactions" class="d-flex justify-content-end align-items-center">

                        <p class="me-4">21 Commentaire</p>

                          <div class="d-flex align-items-center">
                            <p class="me-2">135</p>
                            <img class="card-icon" src="/img/icones/small-heart-black.png" alt="coeur-plein">
                          </div>

                      </div>

                      <hr>

                      <div class="d-flex row">
                        <div class="d-flex align-items-center mb-4">
                          <div class="d-flex align-items-center">
                            <img class="card-icon" src="/img/icones/langue.svg" alt="icon-commentaire">
                            <p class="me-4 ms-2">Commenter</p>
                          </div>
                          <div class="d-flex align-items-center">
                            <img class="card-icon" src="/img/icones/small-thumbsup.svg" alt="icon-like">
                            <p class="me-4 ms-2">Like</p>
                          </div>
                        </div>

                        <input type="text" class="border-0 mb-7 py-3 px-3 rounded-pill" placeholder="Écrire un commentaire...">
                        
                      </div>
                  </div>
              </div>

            <!-- -->

              <div id="card-post" class="card px-5 pt-5 pb-3">
                <div class="d-flex flex-row align-items-center">
          
                    <img src="/img/profil/sam.jpg" class="card-img" alt="...">
                    
                    <div class="d-flex flex-column ms-3">
                        <h4 class="card-title">Sam Anderson</h4>
                        <p class="card-text"><small class="text-muted">Il y a 39 minutes</small></p>
                    </div>
                </div>
                <div class="card-content my-4">

                    <p class="card-text my-4">“To be human is to tinker, to envision a better condition, and decide to work toward it by shaping the world around us.” ― Frank Chimero</p>

                    <div id="interactions" class="d-flex justify-content-end align-items-center">

                      <p class="me-4">21 Commentaire</p>

                        <div class="d-flex align-items-center">
                          <p class="me-2">135</p>
                          <img class="card-icon" src="/img/icones/small-heart-black.png" alt="coeur-plein">
                        </div>

                    </div>

                    <hr>

                    <div class="d-flex row">
                      <div class="d-flex align-items-center mb-4">
                        <div class="d-flex align-items-center">
                          <img class="card-icon" src="/img/icones/langue.svg" alt="icon-commentaire">
                          <p class="me-4 ms-2">Commenter</p>
                        </div>
                        <div class="d-flex align-items-center">
                          <img class="card-icon" src="/img/icones/small-thumbsup.svg" alt="icon-like">
                          <p class="me-4 ms-2">Like</p>
                        </div>
                      </div>

                      <input type="text" class="border-0 mb-7 py-3 px-3 rounded-pill" placeholder="Écrire un commentaire...">
                      
                    </div>
                </div>
            </div>

            <!-- -->

            <div id="card-post" class="card px-5 pt-5 pb-3">
              <div class="d-flex flex-row align-items-center">
        
                  <img src="/img/profil/sam.jpg" class="card-img" alt="...">
                  
                  <div class="d-flex flex-column ms-3">
                      <h4 class="card-title">Sam Anderson</h4>
                      <p class="card-text"><small class="text-muted">Il y a 39 minutes</small></p>
                  </div>
              </div>
              <div class="card-content my-4">

                <div id="photo-content">
                  <img src="/img/publication/picnic.jpg" alt="">
                </div>

                  <p class="card-text my-4">“To be human is to tinker, to envision a better condition, and decide to work toward it by shaping the world around us.” ― Frank Chimero</p>

                  <div id="interactions" class="d-flex justify-content-end align-items-center">

                    <p class="me-4">21 Commentaire</p>

                      <div class="d-flex align-items-center">
                        <p class="me-2">135</p>
                        <img class="card-icon" src="/img/icones/small-heart-black.png" alt="coeur-plein">
                      </div>

                  </div>

                  <hr>

                  <div class="d-flex row">
                    <div class="d-flex align-items-center mb-4">
                      <div class="d-flex align-items-center">
                        <img class="card-icon" src="/img/icones/langue.svg" alt="icon-commentaire">
                        <p class="me-4 ms-2">Commenter</p>
                      </div>
                      <div class="d-flex align-items-center">
                        <img class="card-icon" src="/img/icones/small-thumbsup.svg" alt="icon-like">
                        <p class="me-4 ms-2">Like</p>
                      </div>
                    </div>

                    <input type="text" class="border-0 mb-7 py-3 px-3 rounded-pill" placeholder="Écrire un commentaire...">
                    
                  </div>
              </div>
          </div>

            <!-- FIN CARDS POSTS -->

                <button> Voir plus </button>

            </section>
        
        </article>
        <!-- FIN LEFT SIDE -->

    </section>
    </main>
<!--OFFCANVAS LISTE AMIS -->
  
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAmis" aria-labelledby="offcanvasExampleLabel">
<div class="offcanvas-header">  
  
<input class="px-3 py-3" type="text" placeholder="Rechercher un ami">

</div>

<div class="offcanvas-body">

  <!-- -->
  {% for userUser in amis %}
    <div class="card">
      <div class="card-body d-flex flex-row align-items-center">

        <div class="d-flex align-items-center">
          <div class="p-2">
            <img src="/data/{{userUser.Picture}}" alt="">
          </div>
          <div class="p-2">
            <h4 class="card-text">{{userUser.firstName}}</h4>
          </div>
          <div class="ms-auto p-2">
            <div class="dropdown">
              <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/img/icones/icones-menu-amis/see-more.svg" alt="">
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{path('app_user_details', {'id':userUser.id})}}">
                  <img src="/img/icones/icones-menu-amis/profil-noir.svg" alt=""> Voir le profil</a></li>
                  <li><a class="dropdown-item" onclick="loadMsg('{{ app.user.id }}', '{{ userUser.id }}')" href="#">
                <img src="/img/icones/icones-menu-amis/message.svg" alt=""> Envoyer un message</a></li>
                <li><a class="dropdown-item" href="{{path('app_remove_friends', {'id':userUser.id})}}">
                <img src="/img/icones/icones-menu-amis/retirer-ami.svg" alt=""> Retirer de la liste d'amis</a></li>
                <li><a class="dropdown-item" href="{{path('app_remove_friends', {'id':userUser.id})}}">
                <img src="/img/icones/icones-menu-amis/bloquer.svg" alt=""> Bloquer</a></li>
                <li><a class="dropdown-item" href="#">
                <img src="/img/icones/icones-menu-amis/signaler.svg" alt=""> Signaler</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
</div>

<!--FIN OFFCANVAS LISTE AMIS -->

{% endblock %}
{% block javascripts %}
<script>

let globalIdReceiver;
let globalIdSender;

function loadMsg(idSender, idReceiver){

globalIdSender = idSender;
globalIdReceiver = idReceiver;

  let messages = document.getElementById("zoneTxt");

  fetch('/messenger/listmessage/'+idSender+'/'+idReceiver)
  .then(response=> response.text())
  .then(text=> messages.innerHTML = text);

  setTimeout(function(){
      loadMsg(globalIdSender, globalIdReceiver);
  }, 20000);

}

let btnSendMsg = document.getElementById('btnSendMsg');
btnSendMsg.addEventListener('click', function(){
  let textarea = document.getElementById('messenger_text');
  let content = textarea.value;

  fetch('/messenger/save/1',  {
      method: 'POST',
      body: JSON.stringify({message:content, idReceiver:globalIdReceiver})
      }
  )
  .then(function(headers){
      return headers;
  })
  .then(function(data){
      loadMsg(globalIdSender, globalIdReceiver);
      textarea.value = "";
  })

});


let headerTitle = document.querySelector('.headerTitle');
let zoneTxt = document.getElementById('zoneTxt');
let newMessage = document.getElementById('new-message');
headerTitle.addEventListener('click', function(e){

zoneTxt.classList.toggle('text-close');
newMessage.classList.toggle('messageClose');

})

</script>
{% endblock %}