{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/faq.css">
{% endblock %}

{% block body %}
<!-- DEBUT CHATBOX --> 
<div id="container">
  <div class="chat">
    <div class="headerTitle">Messages</div>
    <div id="zoneTxt" class="text">
      
    </div>
        <div id="new-message" class=" row align-items-center">
          <div class="d-flex flex-row justify-content-between my-3">
            <input class="w-100 px-3 py-3" type="text" id='messenger_text' placeholder="Nouveau message...">
             <button class="d-flex align-items-center justify-content-center" id='btnSendMsg'> <img src="/img/icones/fleche.png" alt=""> </button>
          </div>
        </div>
  </div>
</div>


<!-- DEBUT NAV -->
<nav class="navbar navbar-expand-lg">
        
  <div class="container-fluid">

    <a class="navbar-brand" href="{{path('app_match')}}"> <img src="img/logo-buddies_1.svg" alt=""> </a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" aria-current="page" href="{{path('app_home')}}"><img src="img/icones/icones-nav/commu.svg"></a>
        </li>

        <li class="nav-item">
          <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" 
          data-bs-toggle="offcanvas" href="#offcanvasAmis" role="button" aria-controls="offcanvasExample"><img src="/img/icones/icones-nav/amis.svg">
          </a>
        </li>

        <li id="notif" class="nav-item dropdown">
          <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="img/icones/icones-nav/cloche.svg">
          </a>
          <ul class="dropdown-menu">
            <li class="my-3 mx-4">
              <div class="card">
                <div class="card-body d-flex flex-row align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="p-2">
                      <img id="profil-notif" src="/img/profil/alice.jpg" alt="">
                    </div>
                    <div class="p-2">
                      <h4 class="card-text">Alice Parker</h4>
                    </div>
                    <div class="ms-auto p-2">
                      <img id="icon-notif" src="/img/icones/heart-orange.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="my-3 mx-4">
              <div class="card">
                <div class="card-body d-flex flex-row align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="p-2">
                      <img id="profil-notif" src="/img/profil/alice.jpg" alt="">
                    </div>
                    <div class="p-2">
                      <h4 class="card-text">Alice Parker</h4>
                    </div>
                    <div class="ms-auto p-2">
                      <img id="icon-notif" src="/img/icones/langue.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="my-3 mx-4">
              <div class="card">
                <div class="card-body d-flex flex-row align-items-center">
                  <div class="d-flex align-items-center">
                    <div class="p-2">
                      <img id="profil-notif" src="/img/profil/alice.jpg" alt="">
                    </div>
                    <div class="p-2">
                      <h4 class="card-text">Alice Parker</h4>
                    </div>
                    <div class="ms-auto p-2">
                      <img id="icon-notif" src="/img/icones/icones-menu-amis/message.svg" alt="">
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>

          <li class="nav-item dropdown">
            <a id="icon" class="nav-link d-flex align-items-center justify-content-center me-3" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="img/icones/icones-nav/profil.svg">
            </a>
            <ul class="dropdown-menu">
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="{{path('app_user_show')}}">
                  <img class="me-2" src="/img/icones/icones-menu-profil/smile.svg" alt="">
                Mon profil
                </a>
              </li>
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="{{path('app_faq')}}">
                  <img class="me-2" src="/img/icones/icones-menu-profil/aide.svg" alt="">
                Aide
                </a>
              </li>
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="{{path('app_charte')}}">
                  <img class="me-2" src="/img/icones/icones-menu-profil/charte.svg" alt=""> 
                  Charte BUDDIES
                </a>
              </li>
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="{{path('app_mentions_legales')}}">
                  <img class="me-2" src="/img/icones/icones-menu-profil/mentions-legales.svg" alt=""> 
                  Mentions légales
                </a>
              </li>
              <li class="my-3 mx-4">
                <a class="dropdown-item" href="{{path('app_logout')}}">
                  <img class="me-2" src="/img/icones/icones-menu-profil/deconnexion.svg" alt=""> 
                  Déconnexion
                </a>
              </li>
            
            </ul>
          
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- FIN NAV -->

    <main>
        <section id="faq" class="container">

            <h1 q>FAQ</h1 q>

              <i class="sticker sticker-left sticker-gameboy"></i>

            <div class="accordion" id="accordionPanelsStayOpenExample">
                <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    Question #1
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate.
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    Question #2
                    
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate.
                    </div>
                </div>
                </div>
                <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    Question #3
                    </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate. Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, hic magnam ratione sint omnis placeat. Beatae maiores accusantium expedita adipisci dignissimos voluptates aperiam, quos quaerat, ut quo voluptatum corporis cupiditate.
                    </div>
                </div>
                </div>
            </div>

            <i class="sticker sticker-right sticker-flowervan"></i>

        </section>
</main>

  <!--OFFCANVAS LISTE AMIS -->
    
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasAmis" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">  
    
  <input class="px-3 py-3" type="text" placeholder="Rechercher un ami">

  </div>

  <div class="offcanvas-body">

    <!-- -->
    {% for userUser in amis %}
      <div class="card">
        <div class="card-body d-flex flex-row align-items-center">

          <div class="d-flex align-items-center">
            <div class="p-2">
              <img src="/data/{{userUser.Picture}}" alt="">
            </div>
            <div class="p-2">
              <h4 class="card-text">{{userUser.firstName}}</h4>
            </div>
            <div class="ms-auto p-2">
              <div class="dropdown">
                <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="/img/icones/icones-menu-amis/see-more.svg" alt="">
                </button>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{{path('app_user_details', {'id':userUser.id})}}">
                    <img src="/img/icones/icones-menu-amis/profil-noir.svg" alt=""> Voir le profil</a></li>
                    <li><a class="dropdown-item" onclick="loadMsg('{{ app.user.id }}', '{{ userUser.id }}')" href="#">
                  <img src="/img/icones/icones-menu-amis/message.svg" alt=""> Envoyer un message</a></li>
                  <li><a class="dropdown-item" href="{{path('app_remove_friends', {'id':userUser.id})}}">
                  <img src="/img/icones/icones-menu-amis/retirer-ami.svg" alt=""> Retirer de la liste d'amis</a></li>
                  <li><a class="dropdown-item" href="{{path('app_remove_friends', {'id':userUser.id})}}">
                  <img src="/img/icones/icones-menu-amis/bloquer.svg" alt=""> Bloquer</a></li>
                  <li><a class="dropdown-item" href="#">
                  <img src="/img/icones/icones-menu-amis/signaler.svg" alt=""> Signaler</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
<!--FIN OFFCANVAS LISTE AMIS -->
{% endblock %}
{% block javascripts %}
<script>

let globalIdReceiver;
let globalIdSender;

function loadMsg(idSender, idReceiver){

globalIdSender = idSender;
globalIdReceiver = idReceiver;

  let messages = document.getElementById("zoneTxt");

  fetch('/messenger/listmessage/'+idSender+'/'+idReceiver)
  .then(response=> response.text())
  .then(text=> messages.innerHTML = text);

  setTimeout(function(){
      loadMsg(globalIdSender, globalIdReceiver);
  }, 20000);

}

let btnSendMsg = document.getElementById('btnSendMsg');
btnSendMsg.addEventListener('click', function(){
  let textarea = document.getElementById('messenger_text');
  let content = textarea.value;

  fetch('/messenger/save/1',  {
      method: 'POST',
      body: JSON.stringify({message:content, idReceiver:globalIdReceiver})
      }
  )
  .then(function(headers){
      return headers;
  })
  .then(function(data){
      loadMsg(globalIdSender, globalIdReceiver);
      textarea.value = "";
  })

});


let headerTitle = document.querySelector('.headerTitle');
let zoneTxt = document.getElementById('zoneTxt');
let newMessage = document.getElementById('new-message');
headerTitle.addEventListener('click', function(e){

zoneTxt.classList.toggle('text-close');
newMessage.classList.toggle('messageClose');

})

</script>
{% endblock %}
